// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
&arduino_header {
    status = "disabled";
};

&arduino_i2c {
    status = "disabled";
};

&spi1 {
    status = "disabled";
};

lcd_spi: &spi3 {
    status = "okay";
    /delete-property/ cs-gpios;
};


/{
    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 0";
            zephyr,code = <INPUT_KEY_0>;
        };
        button1: button_1 {
            gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 1";
            zephyr,code = <INPUT_KEY_1>;
        };
        button2: button_2 {
            gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 2";
            zephyr,code = <INPUT_KEY_2>;
        };
        button3: button_3 {
            gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 3";
            zephyr,code = <INPUT_KEY_3>;
        };
        button4: button_4 {
            gpios = <&gpio0 27 (GPIO_ACTIVE_LOW)>;
            label = "Push button switch 4";
            zephyr,code = <INPUT_KEY_4>;
        };
        button5: button_5 {
            gpios = <&gpio0 26 (GPIO_ACTIVE_LOW)>;
            label = "Push button switch 5";
            zephyr,code = <INPUT_KEY_5>;
        };
        button6: button_6 {
            gpios = <&gpio1 8 (GPIO_ACTIVE_LOW)>;
            label = "Push button switch 6";
            zephyr,code = <INPUT_KEY_6>;
        };
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "Green LED 0";
        };
        led1: led_1 {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Green LED 1";
        };
        led2: led_2 {
            gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
            label = "Green LED 2";
        };
        led3: led_3 {
            gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
            label = "Green LED 3";
        };
        led4: led_4 {
            gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
            label = "Green LED 4";
        };
        led5: led_5 {
            gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
            label = "Green LED 5";
        };
        led6: led_6 {
            gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
            label = "Green LED 6";
        };
        led7: led_7 {
            gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
            label = "Yellow LED 7";
        };
        led8: led_8 {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            label = "Red LED 8";
        };
        led9: led_9 {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
            label = "Yellow LED 9";
        };
    };

    spi_cs {
        compatible = "gpio-leds";
        lcdcs: lcd_cs {
            gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
            label = "LCD chip select";
        };
    };
};

